/bin
*.ncb
*.pdb
*.sdf
*.suo
*.swp
*.user
*.bak
*.obj
*.idb
*.orig
*.opensdf
*.ipch
*.lib
*.dll
*.log
moc_*.cpp
Debug
Release
#*#
*~
/_*
/lib
/obj
/dll
/build
GeneratedFiles
build-twd-Debug
/deps/zmq/doc
/deps/zmq/lib
/deps/zmq/foreign
/deps/zmq/builds/msvc/libzmq/Debug
/src/frame/test
/src/frame/build
/src/frame/kwidget/Debug
/src/frame/testkcbp/debug
/src/frame/testkcbp/Win32
/src/frame/klog/Win32
/src/frame/kframe/debug
/src/frame/kwidget/Release
/src/klogin/Win32/Release
/src/frame/kupdate/release
/src/frame/kupdate/debug
/src/frame/bak
/src/frame/testquot/debug
/src/frame/testquot/kmds
/src/frame/testquot/Win32
/src/frame/testquot/release
/src/frame/kframe/Win32
/src/frame/kquot/Resources
/src/frame/market
/src/frame/market.zip
/src/frame/klib
/src/AlgTrade/algotrade-bdd
/src/twd/log
!/bin/quick